environment-setup.sh
*.tar.gz
ycsb*
*.pem
*.crt
*.csr
*.key
*.idea
**/*.metals/
**/metals.sbt
**/.scala-build
project/*
*.log
.bsp/
**/*.bloop/
.bsp/*
*.tgz
#target/
data/
**/.vscode
*.sw[op]
**/target/
*.png
*.jp*g
*.jar
**/kafka/kafka*
**/node_modules
**/.venv/
.venv/
.venv/*
**/sbt.json
